/************************************************** General **********************************************/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --second-color: #D9D9D9;
}

.icon {
    color: var(--main-color);
    margin-right: 10px;
}

.fa-star {
    color: var(--main-color);
}

.fa-location-dot {
    color: black;
}

.fa-magnifying-glass {
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button a {
    font-size: large;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/**************************************************** header ************************************************/

#header {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr; 
    grid-template-rows: 1fr;
    margin-bottom: 33px;
}

nav ul {
    list-style: none;
}

li button {
    border-style: none;
    border-width: 0;
    background-color: transparent;
    padding: 2px;
    margin-left: 3vw;
  }

li img {
    width: 60%;
    height: auto;
    padding-top: 1vw;
}

#header-logo {
    grid-column-start: 1;
}

#header-bouton-hebergements {
    grid-column-start: 3;
}

#header-bouton-hebergements button {
    border-top: solid 2px var(--main-color); 
    color: var(--main-color);
}

#header-bouton-activites {
    grid-column-start: 4;
    border: none;
    color: black;
} 

/* version hover : desactiver #header-bouton-hebergement button
button:hover {
    border-top: solid 2px var(--main-color); 
    color: var(--main-color);
}
*/

/****************************************************** recherche hébergement ****************************************************/

article {
    padding: 10px 0 10px 0;
}

#bloc-recherche {
    display: flex;
    justify-content: flex-start;
}

#bloc-recherche-dot {
    padding: 10px 15px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

#bloc-recherche-localisation{
    border-color: var(--main-bg-color);
}

::placeholder {
    color: black;
    padding-left: 10px;
    font-weight: bold;
    border-color: var(--main-bg-color);
    font-size: medium;
}


#bloc-recherche-submit {
    background-color: var(--main-color);
    border-radius: 0 15px 15px 0;
    border-color: var(--main-color);
    padding: 0 10px;
    color: var(--main-bg-color);
    font-weight: bold;
}

#bloc-recherche-submit-mobile {
background-color: var(--main-color);
padding: 15px;
margin: 0;
border-radius: 3vw;
border-color: var(--main-color);
gap: 10px;
display: none;
}

/******************************** Filtres *********************************/

.flex-filtres{
 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.filtres {
    border: solid var(--second-color) 2px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
}

/* filtres hover*/

.filtres:hover {
    background-color:var(--filter-bg-color) ;
}

/************************************* info *********************************/

.info-div {
    padding-top: 0;
}

.info {
    border: solid var(--second-color) 2px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center; 
}

.fa-info {
    margin: 2px 0 2px 0;
}

/********************************************************* Hebergements And Populaires ************************************************/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/******************************** Hebergements *****************************/
.hebergements {
    width: 65%;
 }

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
}

.hebergements-cards .card {
    display: flex;
    margin:  20px 20px 0 0;
    flex-direction: column;
}

.hebergements-cards img {
    width: 235px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 10px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.plus {
    padding-top: 33px;
}
/******************************** Populaires **************************/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************************************************** Activités ****************************************************/

#activites {
    padding-left: 30px;
}

.activites {
    margin-top: 70px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;

}

.activites-cards img {
    width: 300px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.activites-cards .card-content {
    padding-left: 15px;
    box-sizing: border-box;
}

.activites-cards .card-title {
     margin: 20px 0 20px 15px;
}

/******************************************************** Footer ***************************************************/

footer {
    margin-top: 70px;
    background-color: var(--main-bg-color);
}

.footer {
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-info {
  
    width: 500px;
}

.footer-paragraphe {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
     
#bloc-recherche-submit {
        display: none;
}
#bloc-recherche-submit-mobile {
    display:unset ;
}
}